*{
padding: 0;
margin: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  background-color: beige;
}

h1 {
  text-align: center;
  background-color: darkkhaki;
  color: beige;
  padding: 20px;
  font-size: 35px;
  text-transform: uppercase;
}

.input-section {
  background-color: white;
  display: flex;
  text-align: center;
  width: 350px;
  height: 300px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:40px 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section label {
  font-weight: bold;
  margin-right: 10px;
  font-size: large;
}

.input-section input[type="text"], 
.input-section input[type="number"], 
.input-section input[type="date"] {
    padding: 10px 10px;
    margin-right: 10px;
    width: 200px; /* Set width for input fields */
}

.input-section .category-select {
  padding: 10px 10px;
  margin-right: 10px;
  width: 200px; /* Set width for category select */
}

.input-section button {
  padding: 10px 12px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  margin-top: 20px; /* Added margin top to separate button */
}

.expenses-list {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: darkkhaki;
  color: white;
}

tfoot td {
  font-weight: bold;
}

.delete-btn {
  padding: 5px 10px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
